
// Override Bootstrap's Sass default variables from Bootswatch Theme
@import "bootswatch/flatly/variables";

// My Variables
@import "variables";

// load bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Override Bootstrap's Sass default bootswatch Theme
@import "bootswatch/flatly/bootswatch";

// custom

body{
    margin-top:160px;

    @media screen and (min-width:768px){
        margin-top:80px;
    }
}

#phpinfo {
    background-color: #fff; color: #222; font-family: sans-serif;

    pre {margin: 0; font-family: monospace;}
    a:link {color: #009; text-decoration: none; background-color: #fff;}
    a:hover {text-decoration: underline;}
    table {border-collapse: collapse; border: 0; width: 100%; box-shadow: 1px 2px 3px #ccc;}
    .center {text-align: center;}
    .center table {margin: 1em auto; text-align: left;}
    .center th {text-align: center !important;}
    td, th {border: 1px solid #666; font-size: 75%; vertical-align: baseline; padding: 4px 5px;}
    h1 {font-size: 150%;}
    h2 {font-size: 125%;}
    .p {text-align: left;}
    .e {background-color: #ccf; width: 33%; font-weight: bold;}
    .h {background-color: #99c; font-weight: bold;}
    .v {background-color: #ddd; max-width: 300px; overflow-x: auto; word-break:break-all;}
    .v i {color: #999;}
    img {float: right; border: 0;}
    hr {width: 100%; background-color: #ccc; border: 0; height: 1px;}
}
