
// Override Bootstrap's Sass default variables from Bootswatch Theme
@import "bootswatch/solar/variables";

// My Variables
@import "variables";

// load bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Override Bootstrap's Sass default bootswatch Theme
@import "bootswatch/solar/bootswatch";

// custom


@mixin drop-shadow{
    /*start ------------*/
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2); 
    -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2); 
    -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2); 
}

$filter: true;

body{
    padding:0; margin:0;
    background-size: cover;
    background-attachment: fixed;

    .card{
        @include drop-shadow;
    }

}


.btn-drop-shadow{
    @include drop-shadow;
}

#phpinfo {
    background-color: #fff; color: #222; font-family: sans-serif;

    pre {margin: 0; font-family: monospace;}
    a:link {color: #009; text-decoration: none; background-color: #fff;}
    a:hover {text-decoration: underline;}
    table {border-collapse: collapse; border: 0; width: 100%; box-shadow: 1px 2px 3px #ccc;}
    .center {text-align: center;}
    .center table {margin: 1em auto; text-align: left;}
    .center th {text-align: center !important;}
    td, th {border: 1px solid #666; font-size: 75%; vertical-align: baseline; padding: 4px 5px;}
    h1 {font-size: 150%;}
    h2 {font-size: 125%;}
    .p {text-align: left;}
    .e {background-color: #ccf; width: 33%; font-weight: bold;}
    .h {background-color: #99c; font-weight: bold;}
    .v {background-color: #ddd; max-width: 300px; overflow-x: auto; word-break:break-all;}
    .v i {color: #999;}
    img {float: right; border: 0;}
    hr {width: 100%; background-color: #ccc; border: 0; height: 1px;}
}
